# Python (Virtual Environment)
.venv/
venv/
env/
bin/
lib/
__pycache__/
*.py[cod]
.env

# Node.js (Frontend)
node_modules/
dist/
dist-ssr/
*.local

# Editor/OS folders
.vscode/
.idea/
.DS_Store
Thumbs.db